.news {
    background-color: #6c5ea6;
    padding: 30px 100px 50px;
}

.newsCont {
    max-width: 2000px;
    margin: 0 auto;
    border: 1px solid black;
    text-align: center;
}

.newsCont h1, .newsCont i {
    color: #fff;
    margin: 0 auto;
    text-align: left;
}

.newsCont i {
    margin: 4px auto;
}

.newsGrid {
    max-width: 2000px;
    width: 95%;
    margin: 30px auto 0 auto;
    display: inline-block;
    border: 1px solid red;
}

.newsGrid > div:first-child {
    border: 4px solid yellow;
    max-width: 65%;
    
    display: inline-block;
    vertical-align: middle;
}

.shadow {
    box-shadow: 0 1px 2px 2px #000;
    border-radius: 5px;
    max-width: 600px;
}

.twitter {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin-left: 50px;
}

.articleCont {
    display: grid;
    grid-template: /* row / column */repeat(2, minmax(200px, 425px)) / repeat(2, minmax(200px, 500px));
    gap: 50px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.articleCard {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 250px;
    border-radius: 10px;
    display: inline-block;
}

.articleCard > div:first-child {
    background: url("https://i.imgur.com/LiDF2IK.png") no-repeat center;
    background-size: 80%;
    height: 65%;
    background-color: #463a5c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.articleCard > div:last-child {
    height: 35%;
    background-color: #fff;
    padding: 0 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.1em;
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.articleCard span {
    display: block;
    padding: 1px;
}

.title {
    color: #463a5c;
    font-size: 1.1em;
}

.authors {
    color: #6c5ea6;
}

.title, .authors {
    font-weight: bold;
}

.date, .tags {
    font-size: 0.85em;
}

.tags {
    font-style: italic;
}

@media screen and (max-width: 1450px){
    .newsGrid {
        width: 100%;
    }
    .articleCont {
        grid-template: repeat(auto-fill, minmax(200px, 290px)) / repeat(auto-fill, minmax(200px, 325px));
        max-width: 700px;
        gap: 20px;
    }
    .twitter {
        height: 570px;
        overflow: hidden;
        margin-left: 20px;
    }
    .center {
        font-size: .9em;
    }
  }

  @media screen and (max-width: 1050px){
    .news {
        padding: 10px;
    }

    .newsGrid > div:first-child {
        height: 2400px;
    }

    .articleCont {
        border: 1px solid red;
        grid-template: 600px / 600px;
    }

    .newsGrid > div:first-child {
        justify-content: center;
    }

    .newsCont h1 {
        text-align: center;
    }

    .twitter {
        width: 70%;
        overflow: hidden;
        margin: 20px auto 0 auto;
    }

    .center {
        font-size: 1.2em;
    }

  }
